.download-progress-round{
    width: 100%;
    height: 100%;
}
.download-progress-percent{
    position:absolute;
    font-size: 50px;
    font-weight:500;
    margin: auto;
    left: 0;
    right: 0;
    top: 35%;
    width:fit-content;
    transform-origin: center;
    color: white;
    background-color: rgba(240, 248, 255, 0);
}
.download-progress-perview{
    width: 100%;
    height: 10%;
    background-color: rgb(36, 138, 255);
    bottom: 0;
    margin: auto;
    position: absolute;
}